extends layout

block content
  h1= title
  img(src="/images/background.jpg" , style="max-width: 100% , height: auto")
  ul
    each tvshow in tvshow_list
      li
        a(href=tvshow.url)  
                  #tomb.movie_card
                    .info_section
                      .movie_header        
                         h1 #{tvshow.title}
                         |       
                         .star-rating(data-current='5')
                            span &starf;
                            span &starf;
                            span &starf;
                            span &starf;
                            span &starf;
                         p #[strong Summary: ] #{tvshow.summary}
                         p #[strong Director:] #{tvshow.director}
                         p #[strong Genre: ]
                          each val, index in tvshow.genre
                            a(href=val.url) #{val.name}
                              if index < tvshow.genre.length - 1
                               |,
                    
           

    
    else
      li There are no shows.

   
